# --- PyTorch / audio backend ---
torch==2.8.0
torchaudio==2.8.0

# --- pyannote  ---
pyannote.audio==3.4.0

# --- audio recording ---
pydub==0.25.1
soundfile          
numpy==1.26.4
scipy>=1.9.0       
librosa>=0.9.2      

# --- ---
openai-whisper==20231117  

# ---  ---
streamlit==1.37.0  
python-dotenv  
sounddevice            
PyAudio                 # Windows 
